/* Theme colors */
$primary: #FF6699 !default;

@import "bootstrap";

.screen-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #F1F2F3;
}
